
html,
body,
#root {
  height: 100%;
  
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #231f12;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  overflow-x: hidden;
}